<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BF - FitBalance</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/static/apps.css" rel="stylesheet">
    <script type="text/javascript" src="/static/index.js"></script>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

</head>
<body class="primary">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-md-12 col-lg-6">
                <h3 class="logo"><a class="logoAnchor" href="/">FitBalance</a></h3>
            </div>
            <div class="col col-sm-12 col-md-12 col-lg-6" >
                <nav class="navbar navbar-expand-lg navbar-light primary">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link " href="/">Home </a>
                        <a class="nav-item nav-link" href="/macros">Macro</a>
                        <a class="nav-item nav-link " href="/bf">BF<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link " href="/BMI">BMI</a>
                        <a class="nav-item nav-link" href="/calories">Calories</a>
                      </div>
                    </nav>
                </div>
                  <hr>
            </div>

            <div class="col">

                <h1 class="text-center">BF Calculator</h1>
                <h5 class="text-center"> This body fat calculator can estimate what percentage of your body is fat and tells you how much you would need to weigh for a healthy amount of body fat. The calculator uses the BMI formulas to calculate body fat percentage.</h5>
            </div>

            <form action="javascript:void(0);" class="formBF" id="formBF" onsubmit="calculateBF()">
                <div class="form-group">
                        <div>
                            <label>Sex</label>
                        </div>
                            <div class="form-check form-check-inline">
                                <input  required  class="form-check-input" type="radio" name="bfSex" id="male" value="1">
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input required class="form-check-input" type="radio" name="bfSex" id="female" value="0">
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                    <div class="form-group">
                    <label for="bfAge">Age</label>
                    <input required type="number" class="form-control" id="bfAge" placeholder="Ex: 22">
                  </div>
                <div class="form-group">
                    <label for="bfHeight">Height<span> (in centimeter)</span></label>
                    <input required type="number" class="form-control" id="bfHeight" placeholder="Ex: 180">
                  </div>
                  <div class="form-group">
                    <label for="bfWeight">Weight<span> (in kilograms)</span></label>
                    <input required type="number" class="form-control" id="bfWeight" placeholder="Ex: 80">
                  </div>
                  <div class="btnContainer">
                    <button class="btnContrast btnCalculate" id="btnCalc">Calculate</button>
                </div>
            </div>
          </form>

            <h1 class="text-center" id="bfFirstResult"></h1>
            <p class="text-center" id="bfParagraph"></p>

            <table class="table table-striped" id="tableBF"></table>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>